h1 {
  color: rgb(50, 217, 66);
  text-align: center;
  font-size: 25px;
  font-family: cursive;
  text-decoration: underline;
}

body {

  background-image: url(matrix.jpg);
}

p {
  font-size: 25px;
  font-family: cursive;
}

section {

  margin: auto;
  text-align: center;
  background-color: rgb(9, 108, 19);
  box-shadow: 3px 3px 5px rgb(5, 56, 2);
  padding: 20px;
  width: 250px;
  height: 380px;
  border-radius: 10px;
}


#select {
  width: 150px;
  background-color: rgb(0, 0, 0);
  color: rgb(52, 255, 52);
}